/* Write your code here. */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 45px;
}
.box-container {
  display: flex;
}
.box1 {
  background-color: #fbbf24;
  color: #ffffff;
  font-family: "Bree Serif";
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  font-size: 12px;
}
.box2 {
  background-color: #38bdf8;
  color: #ffffff;
  font-family: "Bree Serif";
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  font-size: 12px;
}
.box3 {
  background-color: #ec4899;
  color: #ffffff;
  font-family: "Bree Serif";
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  font-size: 12px;
}
